.fk-form{
  .fk-form-itme{
    margin-bottom: 20px;
    .fk-form-item-label{
      line-height: 40px;
      float: left;
      text-align: right;
      padding-right: 20px;
      box-sizing: border-box;
      &.is-required{
        &:before{
          content: "*";
          color: #f56c6c;
          margin-right: 4px;
        }
      }
    }
    .fk-form-item-content{
      line-height: 40px;
      margin-left: 100px;
      position: relative;
      &:after{
        clear: both;
        display: table;
        content: "";
      }
      .fk-form-item-error{
        font-size: 12px;
        color: #f56c6c;
        height: 20px;
        line-height: 20px;
        position: absolute;
        left: 20px;
      }
    }
    &.is-error{
      .fk-input__input, .fk-select__input-div__input{
        border-color: red;
      }
    }
    &.is-success{
      .fk-input__input, .fk-select__input-div__input{
        border-color: #67c23a;
      }
    }
  }
}
