.fk-pagination{
  font-size: 0;
  .fk-pagination-prev-button, .fk-pagination-next-button, .fk-pagination-number-button, .fk-pagination-prev-five, .fk-pagination-next-five{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #bababa;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
    user-select: none;
    &:hover{
      border-color: #20A0FF;
      color: #20A0FF;
    }
    &.disable{
      cursor: not-allowed;
      color: #c0c4cc;
      &:hover{
        border-color: #c0c4cc;
      }
    }
  }
  .fk-pagination-prev-button{
    &:before{
      content: '<'
    }
  }
  .fk-pagination-number-buttons{
    display: inline-block;
    .fk-pagination-number-button{
      &.current-page{
        border-color: #20A0FF;
        color: #20A0FF;
      }
      &:nth-child(2) {
        float: left;
      }
      &:nth-last-child(2) {
        float: right;
      }
    }
  }
  .fk-pagination-next-button{
    &:before{
      content: '>'
    }
  }
  .fk-pagination-prev-five, .fk-pagination-next-five{
    &:before{
      content: '···'
    }
  }
  .fk-pagination-prev-five{
    &:hover{
      &:before{
        content: '<<'
      }
    }
  }
  .fk-pagination-next-five{
    &:hover{
      &:before{
        content: '>>'
      }
    }
  }
}